ServiceAccessLayer/Connected Services/TournamentService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gr08.datamatiker-skolen.dk/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
  <xs:element name="SaveTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="newTournament" nillable="true" type="q1:Tournament" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTournamentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TryToSavePlayerToTournament">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="newPlayer" nillable="true" type="q2:Player" />
        <xs:element minOccurs="0" name="tournamentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryToSavePlayerToTournamentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryToSavePlayerToTournamentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournaments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournamentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="GetTournamentsResult" nillable="true" type="q3:ArrayOfTournament" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>