ServiceAccessLayer/Connected Services/TournamentService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tournament">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PlayersInTournament" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="Reward" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoundsInTournament" nillable="true" type="tns:ArrayOfRound" />
      <xs:element minOccurs="0" name="TournamentId" type="xs:int" />
      <xs:element minOccurs="0" name="TournamentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TournamentStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tournament" nillable="true" type="tns:Tournament" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfRound">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Round" nillable="true" type="tns:Round" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRound" nillable="true" type="tns:ArrayOfRound" />
  <xs:complexType name="Round">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MatchesInRound" nillable="true" type="tns:ArrayOfMatch" />
      <xs:element minOccurs="0" name="PlayersInRound" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="RoundId" type="xs:int" />
      <xs:element minOccurs="0" name="RoundName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Round" nillable="true" type="tns:Round" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MatchId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayersInMatch" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfTournament">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tournament" nillable="true" type="tns:Tournament" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTournament" nillable="true" type="tns:ArrayOfTournament" />
</xs:schema>